{{#each model as |post|}}
  <div class="admin-content" id="new-post">
    <h3 class="list-title">Edit this entry ({{post.title}})</h3>
    <form class="post-publish" id="new-post-form">
      {{#if post.teaser }}
        <div class="teaser-preview">
          <article>
            <figure class="main-image">
              <img src="{{post.teaser}}" alt="" class="teaser-image">
            </figure>
            <div class="copy">
              <section class="element">
                <h2>{{{post.title}}}</h2>
                <h3>{{post.type}}</h3>
              </section>
              <section class="element">
                <img src="{{post.logo}}" alt="" class="logo-image">
              </section>
            </div>
          </article>
        </div>
      {{/if }}
      <fieldset>
        <label for="">Title</label>
        {{input type="text" class="title-input" required="true" value=post.title id="title"}}
      </fieldset>
      <div class="images">
        <fieldset>
          <label for="">Id</label>
          {{input type="text" class="small type-input" required="true" value=post.uri id="uri"}}
        </fieldset>
        <fieldset>
          <label for="">URL</label>
          {{input type="text" class="small type-input" required="true" value=post.url id="url"}}
        </fieldset>
      </div>
      <div class="images">
        <fieldset>
          <label for="">Type</label>
          {{input type="text" class="small type-input" required="true" value=post.type id="type"}}
        </fieldset>
        <fieldset>
          <label for="">Rank</label>
          {{input type="text" class="small type-input" required="true" value=post.rank id="rank"}}
        </fieldset>
      </div>
      <div class="images">
        <fieldset>
          <label>Teaser URL</label>
          {{input type="text" class="small" required="true" value=post.teaser id="teaser"}}
        </fieldset>
        <fieldset>
          <label>Logo URL</label>
          {{input type="text" class="small" required="true" value=post.logo id="logo"}}
        </fieldset>
      </div>
      <fieldset>
        <label>Subtitle</label>
        {{input type="text" required="true" value=post.subtitle id="subtile"}}
      </fieldset>
      <fieldset>
        <label>Intro copy</label>
        {{tinymce-editor options=options required="true" value=post.intro id="intro"}}
      </fieldset>
      <fieldset>
        <label>Body copy</label>
        {{tinymce-editor options=options required="true" value=post.body id="body"}}
      </fieldset>
      <button type="submit" {{action "updatePost" post.id }} class="submit" id="submit">Update</button>
    </form>
  </div>
{{/each}}

