<nav id="main-nav" class="{{if status.toWork 'toWork'}} {{if status.toAbout 'toAbout'}}">
  <ul>
    <li class="entry" {{action "gotoAbout"}}>{{# link-to 'about'}}About{{/ link-to}}</li>
    <li class="logo" {{action "gotoHome"}}>{{# link-to 'index'}}{{ logo-fragment }}{{/ link-to}}</li>
    <li class="entry" {{action "gotoWork"}}>{{# link-to 'work' }}Work{{/ link-to}}</li>
  </ul>
</nav>

{{liquid-outlet}}

<div id="white-band" class="{{if status.toWork 'toWork'}} {{if status.toAbout 'toAbout'}}"></div>

<div id="left-background">
  {{#liquid-if status.toAbout class='about-mode'}}
    <div class="background about-bg"></div>
  {{/liquid-if}}
  {{#liquid-if status.toHome class='index-mode'}}
    <div class="background index-bg"></div>
  {{/liquid-if}}
</div>