{{#if status.toAdmin }}
  <nav id="main-nav" class="{{if status.toAdmin 'toWork'}}">
    <ul>
      <li class="entry" {{action "gotoHome"}}>{{# link-to 'index'}}Website{{/ link-to}}</li>
      <li class="logo" {{action "gotoHome"}}>{{# link-to 'index'}}{{ logo-fragment }}{{/ link-to}}</li>
      <li class="entry" {{action "gotoAdmin"}}>{{# link-to 'admin' }}Admin{{/ link-to}}</li>
    </ul>
  </nav>
{{else}}
  <nav id="main-nav" class="{{if status.toWork 'toWork'}} {{if status.toAbout 'toAbout'}}">
    <ul>
      <li class="entry" {{action "gotoAbout"}}>{{# link-to 'about'}}About{{/ link-to}}</li>
      <li class="logo" {{action "gotoHome"}}>{{# link-to 'index'}}{{ logo-fragment }}{{/ link-to}}</li>
      <li class="entry" {{action "gotoWork"}}>{{# link-to 'work' }}Work{{/ link-to}}</li>
    </ul>
  </nav>
{{/if}}

{{liquid-outlet}}

<div id="white-band" class="{{if status.toWork 'toWork'}} {{if status.toAbout 'toAbout'}} {{if status.toAdmin 'toWork'}}"></div>

<div id="left-background">
  {{#liquid-if status.toAbout class='about-mode'}}
    <div class="background about-bg"></div>
  {{/liquid-if}}
  {{#liquid-if status.toHome class='index-mode'}}
    <div class="background index-bg"></div>
  {{/liquid-if}}
</div>