{{#each model as |post|}}
  <div class="content wysiwyg" id="work-detail">
    <article class="contents">
      <header class="title-wrap">
        <div class="title-content">
          <h3 class="title"><hr>{{{post.title}}}</h3>
          <h3 class="subtitle">{{post.subtitle}}</h3>
        </div>
        <div class="intro">
          {{{post.intro }}}
          <p>URL: <a href="{{post.url}}" target="_blank">{{post.url}}</a></p>
        </div>
      </header>

      {{{post.body }}}
    </article>
  </div>
{{/each}}