<div class="content wysiwyg" id="work">
  <div class="visible-content">
    <div class="main-content">
      <div class="free-container left">
        <h3 class="featured-title">La production de <br/>la boutique</h3>
      </div>

      <article class="constrained-container copy">
        <p><strong>100% pur beurre.</strong> <br/>Développement front-end, intégration, design UX ou thèmes wordpress, ces projets m’ont tous apportés. Récents et moins récents, ce sont de bons exemples de mon travail. </p>
      </article>
    </div>

    <div class="work-entries">
      <ul class="main-entries">
        {{#each sortedWorks as |workEntry|}}
          {{#if workEntry.category }}
          <li data-order="{{ workEntry.rank }}">
            {{#link-to "view-work" workEntry.uri}}
              <article>
                <figure class="main-image">
                  <img src="{{workEntry.teaser}}" alt="">
                </figure>
                <div class="copy">
                  <section class="element">
                    <h2>{{{workEntry.title}}}</h2>
                    <h3>{{workEntry.type}}</h3>
                  </section>
                  <section class="element image">
                    <img src="{{workEntry.logo}}" alt="">
                  </section>
                </div>
              </article>
            {{/link-to}}
          </li>
          {{/if}}
        {{/each}}
      </ul>
      <h3 class="text-center"><span class="label">Mais aussi</span></h3>
      <ul class="main-entries">
        {{#each sortedWorks as |workEntry|}}
          {{#unless workEntry.category }}
          <li data-order="{{ workEntry.rank }}">
            {{#link-to "view-work" workEntry.uri}}
              <article>
                <figure class="main-image">
                  <img src="{{workEntry.teaser}}" alt="">
                </figure>
                <div class="copy">
                  <section class="element">
                    <h2>{{{workEntry.title}}}</h2>
                    <h3>{{workEntry.type}}</h3>
                  </section>
                </div>
              </article>
            {{/link-to}}
          </li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>

{{outlet}}
